<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
<button><a href="/stadium-history/">Powrót</a></button>
    <h2>Stwórz stadion</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Stwórz stadion">
            {{ info }}
        </form>
</body>
</html>















{% extends "home_page.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Stwórz stadion">
        {{ info }}
    </form>
{% endblock %}
