<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Koszykówka</title>
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="tournament">
  <!-- tournament logo -->
  <div class="tournament__logo-container tournament__logo-container--right">
    <strong class="tournament__logo tournament__logo--gold"></strong>
  </div>
  <div class="tournament__grid">
    <!-- tournament__round 1/8 -->
    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
    </div>

    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
    </div>

    <!-- tournament__round 1/2 -->
    <div class="tournament__round">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
    </div>

    <!-- tournament__round final -->
    <div class="tournament__round tournament__round--final">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
    </div>

    <!-- tournament__round winner -->
    <div class="tournament__round tournament__round--winner">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">Lorem ipsum.</a>
      </div>
    </div>
  </div>

</div>
</body>
</html>